.product {
    text-align: center;
    background-image: url("http://ak3.picdn.net/shutterstock/videos/16468963/thumb/1.jpg");
    color: white;
    height: 250px;
    margin-bottom: 50px;
}

.notcurved {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}