.price {
    font-size: 28px;
    font-weight: bold;
}

.checked {
    color: orange;
}

.unchecked {
    color: lightgray;
}

.rating {
    margin-bottom: 15px;
}

.productline {
    padding: 20px;
    border-bottom: 1px solid lightgray;
}